:root {
    --primary: rgb(101, 20, 177);
    --secondary: rgb(157, 82, 207);
}

.scoreBTN {
    background-color: white;
    color: var(--secondary);
    border-style: none;
}

/*Utility Classes*/

.invisible {
    display: none;
}

.visible {
    display: flex;
}

.hidden {
    display: hidden;
}

header, main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;   
}

header {
    position: relative;
}

#timer {
    position: absolute;
    right: 1%;
}

section {
    position: relative;
    flex-wrap: wrap;
    margin: 5px auto;
}

h1, p {
    flex: 0 0 100%;
    text-align: center;
}

#startBTN {
    margin: 5px auto;
}

.primarySelector {
    background-color: var(--primary);
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0 5px;
}

ul {
    list-style: none; /* Remove default bullets */
    width: 100%;
}

ul li {
    width: 70%;
    background: var(--primary);
    border-radius: 10px;
    color: white; 
    margin: 5px 0;
    padding: 5px;
}

.answerOption:hover {
    background: var(--secondary);
}

.scoreItem {
    background: rgb(193 115 245 / 52%);
    color: black; 
    border-radius: unset;
}

.status {
    color: grey;
    font-style: italic;
    border-top: 0.8px solid black;
}

input.initials {
    border: 1px solid cornflowerblue;
    margin: auto 5px;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (min-width: 575px) {

    header, main {
        width: 80%; 
        margin: 0 auto;
    }
    
    
}

/* MEDIA QUERY FOR Meduim displays */
@media screen and (min-width: 830px) {
}

/* MEDIA QUERY FOR Large displays */
@media screen and (min-width: 980px) {
}