:root {
    --secondary: rgb(157, 82, 207);
}

.scoreBTN {
    background-color: white;
    color: var(--secondary);
    border-style: none;
}


/*Utility Classes*/

.invisible {
    display: none;
}

.visible {
    display: block;
}